html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #DDD;
}

#content {
    text-align: center;
}

a {
    float: left;
    margin: 1em;
}
