html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: black;
    float: left;
}
a:hover {
    color: #72a7cf;
}
body {
    background-color: #DDD;
}

#content {
    text-align: center;
    padding: 1em;
    font-family: sans-serif;
}
#nav {
    display: inline-block;
    width: 100%;
    height: 1em;
}
#nav a {
    margin-right: .3em;

}
#explorer {
    min-height: 768px
}
.item {
    margin: 1em;
    width: 160px;
    height: 160px;
}
.item span {
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    line-height: 1em;
    font-size: .9em;
}
footer {
    width: 100%;
    float: left;
    font-size: .9em;
    text-align: left;
    margin: 1em auto;
}
footer a {
    float: none;
}

